In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("Netflix Dataset Latest 2021.csv")

In [3]:
dataset.head()

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site,Unnamed: 29,Unnamed: 30
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,...,https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,https://www.youtube.com/watch?v=LqB6XJix-dM,YouTube,NaN,NaN
1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,...,https://www.netflix.com/watch/81041267,https://www.imdb.com/title/tt4193072,"When nerdy Johanna moves to London, things get...",2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BZGUyN2...,https://www.youtube.com/watch?v=eIbcxPy4okQ,YouTube,NaN,NaN
2,The Con-Heartist,"Comedy, Romance","Romantic Comedies,Comedies,Romantic Films,Thai...",Thai,Movie,8.6,Thailand,> 2 hrs,Mez Tharatorn,"Pattaranad Bhiboonsawade, Mez Tharatorn, Thods...",...,https://www.netflix.com/watch/81306155,https://www.imdb.com/title/tt13393728,After her ex-boyfriend cons her out of a large...,131.0,https://occ-0-2188-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BODAzOG...,https://www.youtube.com/watch?v=md3CmFLGK6Y,YouTube,NaN,NaN
3,Gleboka woda,Drama,"TV Dramas,Polish TV Shows,Social Issue TV Dramas",Polish,Series,8.7,Poland,< 30 minutes,NaN,NaN,...,https://www.netflix.com/watch/81307527,https://www.imdb.com/title/tt2300049,A group of social welfare workers led by their...,47.0,https://occ-0-2508-2706.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BMTc0Nz...,https://www.youtube.com/watch?v=5kyF2vy63r0,YouTube,NaN,NaN
4,Only a Mother,Drama,"Social Issue Dramas,Dramas,Movies Based on Boo...",Swedish,Movie,8.3,"Lithuania,Poland,France,Italy,Spain,Greece,Bel...",1-2 hour,Alf Sjöberg,Ivar Lo-Johansson,...,https://www.netflix.com/watch/81382068,https://www.imdb.com/title/tt0041155,An unhappily married farm worker struggling to...,88.0,https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BMjVmMz...,https://www.youtube.com/watch?v=H0itWKFwMpQ,YouTube,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9425 entries, 0 to 9424
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  9425 non-null   object
 1   Genre                  9400 non-null   object
 2   Tags                   9389 non-null   object
 3   Languages              9266 non-null   object
 4   Series or Movie        9425 non-null   object
 5   Hidden Gem Score       9415 non-null   float64
 6   Country Availability   9414 non-null   object
 7   Runtime                9424 non-null   object
 8   Director               7120 non-null   object
 9   Writer                 7615 non-null   object
 10  Actors                 9314 non-null   object
 11  View Rating            6827 non-null   object
 12  IMDb Score             9417 non-null   float64
 13  Rotten Tomatoes Score  5445 non-null   float64
 14  Metacritic Score       4082 non-null   float64
 15  Awards Received        5226 non-null   float64
 16  Awards Nominated For   6376 non-null   float64
 17  Boxoffice              3754 non-null   object
 18  Release Date           9217 non-null   object
 19  Netflix Release Date   9425 non-null   object
 20  Production House       4393 non-null   object
 21  Netflix Link           9425 non-null   object
 22  IMDb Link              9101 non-null   object
 23  Summary                9420 non-null   object
 24  IMDb Votes             9415 non-null   float64
 25  Image                  9425 non-null   object
 26  Poster                 8487 non-null   object
 27  TMDb Trailer           9425 non-null   object
 28  Trailer Site           9424 non-null   object
 29  Unnamed: 29            0 non-null      float64
 30  Unnamed: 30            0 non-null      float64
dtypes: float64(9), object(22)
memory usage: 2.2+ MB

In [5]:
dataset = dataset.drop(["Unnamed: 29","Unnamed: 30"],axis = 1)

In [6]:
dataset["Genre"].head()

0    Crime, Drama, Fantasy, Horror, Romance
1                                    Comedy
2                           Comedy, Romance
3                                     Drama
4                                     Drama
Name: Genre, dtype: object

In [7]:
dataset.corr()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,IMDb Votes
Hidden Gem Score,1.000000,0.395314,0.581481,0.602252,-0.080028,-0.124466,-0.335513
IMDb Score,0.395314,1.000000,0.654538,0.695574,0.275622,0.264989,0.152426
Rotten Tomatoes Score,0.581481,0.654538,1.000000,0.900020,0.291171,0.291832,0.111065
Metacritic Score,0.602252,0.695574,0.900020,1.000000,0.430459,0.446151,0.233868
Awards Received,-0.080028,0.275622,0.291171,0.430459,1.000000,0.815401,0.458541
Awards Nominated For,-0.124466,0.264989,0.291832,0.446151,0.815401,1.000000,0.484297
IMDb Votes,-0.335513,0.152426,0.111065,0.233868,0.458541,0.484297,1.000000

In [44]:
#High Correlation 

#Awards Received and Awards Nominated for
#Rotten Tomatoes Score and Metacritic Score

In [ ]:
#Basic Filtering with certain attributes 
#Title #Genre #Languages #Series or Movies
#Country Availability
#Director
#Writers
#actors
#IMDb Score
#Netflix Release Date
#View Rating

In [5]:
dataset.rename(columns = {"View Rating":"MaturityRating","Country Availability":"Country","IMDb Score":"IMDbscore"}, inplace = True)

In [6]:
def rating(X):
    X.replace("Not Rated","Unrated",inplace = True)
    X.replace("NOT RATED","Unrated",inplace = True)
    X.replace(np.nan,"Unrated",inplace = True)
rating(dataset["MaturityRating"])

In [ ]:
dataset["MaturityRating"].value_counts()

In [ ]:
dataset["IMDbscore"].hist()

In [7]:
cols = ["Title","Genre", "Languages","MaturityRating","Country","Tags","IMDbscore","Release Date","Summary"]
df = dataset[cols].copy()

In [ ]:
df.info()

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')

In [ ]:
df['Summary'] = df['Summary'].fillna('')
tfidf_matrix = tfidf.fit_transform(df['Summary'])

In [ ]:
tfidf_matrix.shape

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
similarity_mat = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
similarity_mat.shape

In [ ]:
indices = pd.Series(df.index, index=df['Title']).drop_duplicates()

In [ ]:
indices[:10]

In [ ]:
def get_recommendations(Title,similarity_mat):
    
    # Get the index of the movie that matches the title
    idx = indices[Title]
   

    # Get the pairwsie similarity scores of all movies with that movie
    scores = list(enumerate(similarity_mat[idx]))
    
    # Sort the movies based on the similarity scores
    scores = sorted(scores,key=lambda x: x[1],reverse=True)

    # Get the scores of the 10 most similar movies
    high_sim = scores[1:11]
   

    # Get the movie indices
    movie_indices = [i[0] for i in high_sim]

    # Return the top 10 most similar movies
    return df['Title'].iloc[movie_indices]

In [ ]:
get_recommendations('To Kill a Child',similarity_mat)

In [ ]:
df.head()

In [ ]:
#creating 5 bins for IMDb Scores

#df["IMDb_bin"] = df["IMDbscore"].apply(lambda x: 1 if x < 5 else (2 if x<6 and x >=5 else (3 if x<7 and x>=6 else 
                                                            #(4 if x<8 and x>=7 else(5 if x >=8 else x)))))

In [10]:
data = df.dropna()
#data.drop(["IMDbscore"],axis = 1,inplace = True)

In [ ]:
data.info()

In [ ]:
len(data)

In [11]:
data.reset_index(drop = True)

,Title,Genre,Languages,MaturityRating,Country,Tags,IMDbscore,Release Date,Summary
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",R,Thailand,"Comedy Programmes,Romantic TV Comedies,Horror ...",7.9,12 Dec 2008,A med student with a supernatural gift tries t...
1,HOW TO BUILD A GIRL,Comedy,English,R,Canada,"Dramas,Comedies,Films Based on Books,British",5.8,08 May 2020,"When nerdy Johanna moves to London, things get..."
2,The Con-Heartist,"Comedy, Romance",Thai,Unrated,Thailand,"Romantic Comedies,Comedies,Romantic Films,Thai...",7.4,03 Dec 2020,After her ex-boyfriend cons her out of a large...
3,Gleboka woda,Drama,Polish,Unrated,Poland,"TV Dramas,Polish TV Shows,Social Issue TV Dramas",7.5,14 Jun 2011,A group of social welfare workers led by their...
4,Only a Mother,Drama,Swedish,Unrated,"Lithuania,Poland,France,Italy,Spain,Greece,Bel...","Social Issue Dramas,Dramas,Movies Based on Boo...",6.7,31 Oct 1949,An unhappily married farm worker struggling to...
...,...,...,...,...,...,...,...,...,...
9000,District 13: Ultimatum,"Action, Crime, Thriller","French, English",R,France,"International Movies,Action Thrillers,French F...",6.5,18 Feb 2009,"Set two years after the action in District 13,..."
9001,13 Going on 30,"Comedy, Fantasy, Romance","English, Portuguese",PG-13,"Hungary,Lithuania,Romania,United Kingdom,Belgi...","Romantic Comedies,Comedies,Romantic Films,Roma...",6.2,23 Apr 2004,When a geeky teens birthday party goes awry an...
9002,LIFE 2.0,Documentary,English,Unrated,"Hungary,Lithuania,India,Australia,United Kingd...","Social & Cultural Documentaries,Biographical D...",6.2,22 Jan 2010,Computer users across the globe log onto the v...
9003,Brand New Day,"Documentary, Music",English,Unrated,Australia,"Australian Comedies,Romantic Comedies,Australi...",7.3,17 Sep 1988,In an idyllic port town on Australias west coa...
9004,Daniel Arends: Blessuretijd,Comedy,Dutch,Unrated,Belgium,"Stand-up Comedy,International Movies,Comedies",7.8,13 Jan 2012,"In his third show, Daniël Arends argues that g..."

In [12]:
cols_list = ["Languages","Genre","Country","MaturityRating","Tags"]
for i in cols_list:
    data[i] = data[i].apply(lambda x: x.lower().split(",") if len(x.split()) > 0 else x)

/Users/aparajitakar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
data["Title"] = data["Title"].str.lower()
data["Summary"] = data["Summary"].str.lower()

/Users/aparajitakar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/aparajitakar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data.head()

In [ ]:
#Hard Filtering 

#languages
#Country
#IMDb_bin 

#Rest columns (Title not included) is in similarity matrix

In [14]:
#Filter the dataset on the basis of languages, Country, Genre and IMDb Score

def filter(X,language,country,genre,score):
    X_new = pd.DataFrame()
    X = X.loc[(data['IMDbscore'] >= score)]
    for i in range(len(X)):
        if language in X.iloc[i]["Languages"]:
            if country in X.iloc[i]["Country"]:
                if genre in X.iloc[i]["Genre"]:
                    X_new = X_new.append(X.iloc[i])
    return(X_new)

#dataset = filter(data,"english","india","drama",7)

In [ ]:
#Create the dataset to be fed to the recommendation system

In [22]:
#df_new = dataset.drop(["Country","Genre","IMDbscore","Languages","Release Date"],axis = 1) #already filtered
df_new = dataset.drop(["IMDbscore","Release Date"],axis = 1)

In [23]:
df_new = df_new.reset_index(drop = True)

In [24]:
#merge all white spaces in tags
def tags(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

df_new["Tags"] = df_new["Tags"].apply(tags)

In [ ]:
#merge all columns together to create the document matrix

In [25]:
#df_new["merged"] = df_new["MaturityRating"] + df_new["Tags"]
df_new["merged"] = df_new["MaturityRating"] + df_new["Tags"] + df_new["Country"] + df_new["Genre"] + df_new["Languages"]

In [26]:
df_new.head()

,Country,Genre,Languages,MaturityRating,Summary,Tags,Title,merged
0,"[canada, mexico, south africa, thailand, singa...","[drama, romance]","[english, french]",[tv-ma],the troubling inner workings of a toxic marria...,"[psychologicalthrillers, dramas, thrillers, in...",love,"[tv-ma, psychologicalthrillers, dramas, thrill..."
1,"[poland, italy, spain, czech republic, belgium...",[drama],[english],[tv-14],americas oldest hospital welcomes a new maveri...,"[tvdramas, ustvshows, tvshowsbasedonbooks, soc...",new amsterdam,"[tv-14, tvdramas, ustvshows, tvshowsbasedonboo..."
2,"[canada, united states]","[drama, romance]","[english, vietnamese]",[unrated],a reflective man must come to terms with his f...,"[lgbtqdramas, dramas, lgbtqfilms, independentf...",monsoon,"[unrated, lgbtqdramas, dramas, lgbtqfilms, ind..."
3,"[canada, united states]","[drama, war]",[english],[pg-13],"in 1917 portugal, visions of the virgin mary c...","[dramas, faith&spirituality]",fatima,"[pg-13, dramas, faith&spirituality, canada, un..."
4,[canada],[drama],"[english, spanish]",[unrated],an unwavering teacher and his students must ov...,"[filmsbasedonreallife, dramas]",critical thinking,"[unrated, filmsbasedonreallife, dramas, canada..."

In [27]:
df_new["Summary"]= df_new["Summary"].apply(lambda x: x.split(" "))

In [28]:
df_new["body"] = df_new["Summary"]+df_new["merged"]

In [29]:
#df_final = df_new.drop(["MaturityRating","Summary","Tags","merged"],axis = 1)
df_final = df_new.drop(["MaturityRating","Summary","Tags","merged","Country","Genre","Languages"],axis = 1)

In [30]:
df_final.reset_index(drop = True)

                     Title                                               body
0                     love  [the, troubling, inner, workings, of, a, toxic...
1            new amsterdam  [americas, oldest, hospital, welcomes, a, new,...
2                  monsoon  [a, reflective, man, must, come, to, terms, wi...
3                   fatima  [in, 1917, portugal,, visions, of, the, virgin...
4        critical thinking  [an, unwavering, teacher, and, his, students, ...
..                     ...                                                ...
269           the notebook  [two, young, lovers, are, torn, apart, by, war...
270              bloodline  [when, the, black, sheep, son, of, a, respecte...
271  sense and sensibility  [facing, poverty, after, their, fathers, death...
272    h2o: just add water  [the, gals, in, this, fantasy, series, cope, w...
273         house of cards  [ruthless, congressman, frank, underwood, will...

[274 rows x 2 columns]

In [31]:
df_final["body"] = df_final['body'].apply(lambda x: ', '.join(map(str, x)))

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_final['body'])

In [33]:
tfidf_matrix.shape

(274, 2592)

In [34]:
from sklearn.metrics.pairwise import linear_kernel
similarity_mat = linear_kernel(tfidf_matrix, tfidf_matrix)

In [35]:
indices = pd.Series(df_final.index, index=df_final['Title']).drop_duplicates()

In [36]:
def get_recommendations(Title,similarity_mat):
    
    # Get the index of the movie that matches the title
    idx = indices[Title]
   

    # Get the pairwsie similarity scores of all movies with that movie
    scores = list(enumerate(similarity_mat[idx]))
    
    # Sort the movies based on the similarity scores
    scores = sorted(scores,key=lambda x: x[1],reverse=True)

    # Get the scores of the 10 most similar movies
    high_sim = scores[1:11]
   

    # Get the movie indices
    movie_indices = [i[0] for i in high_sim]

    # Return the top 10 most similar movies
    return df_final['Title'].iloc[movie_indices]
get_recommendations('love',similarity_mat)

173                   lens
51             love is war
160                dynasty
140                calibre
102     the unmarried wife
21                 rebecca
149            first match
92          the perfection
177    bottom of the world
178                   slam
Name: Title, dtype: object

In [18]:
language = input("In which language do you want you want to watch your movie? Ex: English").lower()
country = input("In which country do you want you want to watch your movie? Ex: India").lower()
genre = input("In which Genre are you interested at? Ex: Drama, Romantic").lower()
IMDb_score = int(input("Enter your preferred IMDb rating. Ex: 5,6,7"))

In which language do you want you want to watch your movie? Ex: Englishenglish
In which country do you want you want to watch your movie? Ex: Indiacanada
In which Genre are you interested at? Ex: Drama, Romanticdrama
Enter your preferred IMDb rating. Ex: 5,6,75

In [19]:
dataset = filter(data,language,country,genre,IMDb_score)

In [17]:
dataset.head()

,Country,Genre,IMDbscore,Languages,MaturityRating,Release Date,Summary,Tags,Title
2151,"[south africa, slovakia, argentina, lithuania,...","[horror, sci-fi]",6.6,[french],[unrated],21 Nov 2019,after making a deal with a supernatural figure...,"[tv dramas, teen sci-fi, crime tv dramas, fant...",mortel

In [ ]:
int(IMDb_score)

In [ ]:
dataset.head()

In [ ]:
dataset.head()

In [21]:
df = pd.DataFrame(dataset["Title"])
  
# displaying the DataFrame
display(df)

                      Title
81                     love
106           new amsterdam
109                 monsoon
157                  fatima
159       critical thinking
...                     ...
9245           the notebook
9258              bloodline
9303  sense and sensibility
9335    h2o: just add water
9369         house of cards

[274 rows x 1 columns]